<turbo-frame id="import-response">
  <div class="temperature-infos">
    <div><b>Smallest diff in goals (F - A):</b> <%= @min_team_spread[0] %> - Diff: <%= @min_team_spread[1] %></div>
  </div>

  <h3>Imported table:</h3>
  <table>
    <thead>
      <% @parsed_data[:columns].each do |column_name| %>
        <th><%= column_name %></th>
      <% end %>
    </thead>
    <tbody>
      <% @parsed_data[:results].each do |result| %>
        <tr class="<%= 'coldest-spread-day' if result['Team'] == @min_team_spread[0] %>">
          <% result.each do |_, value| %>
            <td><%= value %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</turbo-frame>
